NODE_ENV=production
REACT_APP_SITE_TITLE="Calliope Static Site Generator"
ELECTRON_START_URL=http://localhost:8888/
SHORT_NAME="Calliope SSG"
CALLIOPE_THEME=default
THEME_DARK=false
ADMIN_THEME="cyberpunk"
ADMIN_THEME_DARK="false"
WEBSITE_PORT=8888
ADMIN_PORT=8899
STORAGE_TYPE=file
STORAGE_ROOT=/storage/
CONTENT_ROOT=../storage
STORAGE_DIR=../../storage
API_VERSION=/v1
API_ROUTE_PATH=../routes
PUBLIC_URL=/
ENABLE_AUTH=true
ENABLE_CONTENT=true
REVERSE_CONTENT="0"
ENABLE_AUTH="0"
ENABLE_CONTENT="1"
ENABLE_DNS="0"
WEBSITE_HOST=https://calliope.kderbyma.com
ADMIN_HOST=https://admin.kderbyma.com
ADMIN_HPORT=8443
WEBSITE_HPORT=443
DB_TYPE=postgres
DB_PORT=5432
DB_NAME=calliope
DB_USER=calliope-api
DB_PASS=calliope-pass
DB_HOST=localhost
DB_ROOT_PASS=root-pass
DB_HOST_DOCKER=calliope_db
DNS_IP=
SITE_IP=
DNS_APIKEY=
DNS_USERNAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=